
@{
    ViewBag.Title = "Rehber";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
    <title>Free Easy-Trip Website Template | Rehber :: w3layouts</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="~/web/css/style.css" type="text/css" media="all" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="~/web/css/slider.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
    
   
    
    <div class="content">
        <div class="wrap">
            <div class="about">
                <h3>Rehber</h3>
                <img src="images/about_banner.jpg" alt="" />
                
                <p>
                    “Rehberlerin turizm sektöründe büyük görevleri, katkıları ve aynı oranda da sorumlulukları vardır. Bu görevi önemli yapan, rehberlerin ülkelerini yabancılara karşı kendi kişilikleriyle temsil etmeleridir”(Çimrin, 1992, s.9). “Rehberlik, çok büyük bir bilgi birikimi onunda ötesinde çok yönlü bir eğitim gerektirir. Rehberler, birer küçük bilgi devi olmanın yanı sıra, iyi bir yönetici, iyi bir kültür adamı, iyi bir psikolog, iyi bir sosyolog olmak durumundadır” (Ahipaşaoğlu: 1997, s.145)

                    “Rehberler, toplumun dinamiklerini iyi izlemeli, yeni akımlar, gelenek ve göreneklerdeki değişmeler, yakın gelecekte olabilecekler hakkında da fikir sahibi olabilmelidir. Bu geriye doğru da geçerlidir. Mevcut toplumsal kuralların kökenlerini, geçmişteki hallerini, konulma nedenlerini, uğradıkları değişimleri de bilmelidir” (Ahipaşaoğlu, 1994, s.137).

                    Van Hess’ in Almanya’da, rehberlerin çalışma şartları ile ilgili açıklamasında, bir rehberin çalışabilmesi için sahip olması gereken bilgi ve çalışma yeteneği için gerekli olanları şöyle ifade etmiştir (Wolfgang, 1982, s.55):

                    • Ana diline vakıf olması,

                    • Ziyaret edilen ülkenin dilini iyi konuşabilmesi,

                    • Tarihi, aktüel olayları, ziyaret edilen ülkenin gelenek ve görenekleri hakkında bilgi sahibi olması,

                    • Yöre hakkında bilgi,

                    • Genel kültür.

                    “Bir ülkeye gelen yabancı, elinde rehber kitaplar, haritalar, broşürler bulunsa bile, o ülkenin dilini, gelenek ve göreneklerini bilen bir rehbere ihtiyaç duyar. İyi yetişmiş bilgili rehber, yabancı turistlere, kendi milleti ve ülkesi hakkında devamlı ve olumlu propaganda yapmalıdır. Hiç şüphesiz, en etkili propaganda türü de bu şekilde yapılan canlı propagandadır. İşte bu nedenle, turist rehberlerinin seçiminde ülkelerin oldukça titiz davranması ve eğitimlerine özel bir titizlik göstermesi gerekir. Bu sebeple rehberlerde bazı özellikler aranır” (Bilge, 1992, s. 40/42)

                    • “Rehber tura çıkmadan önce iyi bir plan ve hazırlık yapmalıdır.  “Rehberlerin turizm sektöründe büyük görevleri, katkıları ve aynı oranda da sorumlulukları vardır. Bu görevi önemli yapan, rehberlerin ülkelerini yabancılara karşı kendi kişilikleriyle temsil etmeleridir”(Çimrin, 1992, s.9). “Rehberlik, çok büyük bir bilgi birikimi onunda ötesinde çok yönlü bir eğitim gerektirir. Rehberler, birer küçük bilgi devi olmanın yanı sıra, iyi bir yönetici, iyi bir kültür adamı, iyi bir psikolog, iyi bir sosyolog olmak durumundadır” (Ahipaşaoğlu: 1997, s.145)

                    “Rehberler, toplumun dinamiklerini iyi izlemeli, yeni akımlar, gelenek ve göreneklerdeki değişmeler, yakın gelecekte olabilecekler hakkında da fikir sahibi olabilmelidir. Bu geriye doğru da geçerlidir. Mevcut toplumsal kuralların kökenlerini, geçmişteki hallerini, konulma nedenlerini, uğradıkları değişimleri de bilmelidir” (Ahipaşaoğlu, 1994, s.137).

                    Van Hess’ in Almanya’da, rehberlerin çalışma şartları ile ilgili açıklamasında, bir rehberin çalışabilmesi için sahip olması gereken bilgi ve çalışma yeteneği için gerekli olanları şöyle ifade etmiştir (Wolfgang, 1982, s.55):

                    • Ana diline vakıf olması,

                    • Ziyaret edilen ülkenin dilini iyi konuşabilmesi,

                    • Tarihi, aktüel olayları, ziyaret edilen ülkenin gelenek ve görenekleri hakkında bilgi sahibi olması,

                    • Yöre hakkında bilgi,

                    • Genel kültür.

                    “Bir ülkeye gelen yabancı, elinde rehber kitaplar, haritalar, broşürler bulunsa bile, o ülkenin dilini, gelenek ve göreneklerini bilen bir rehbere ihtiyaç duyar. İyi yetişmiş bilgili rehber, yabancı turistlere, kendi milleti ve ülkesi hakkında devamlı ve olumlu propaganda yapmalıdır. Hiç şüphesiz, en etkili propaganda türü de bu şekilde yapılan canlı propagandadır. İşte bu nedenle, turist rehberlerinin seçiminde ülkelerin oldukça titiz davranması ve eğitimlerine özel bir titizlik göstermesi gerekir. Bu sebeple rehberlerde bazı özellikler aranır” (Bilge, 1992, s. 40/42)

                    • “Rehber tura çıkmadan önce iyi bir plan ve hazırlık yapmalıdır. Eğer iyi bir hazırlık yaptıysa, kendine güvenli ve istekli olacaktır. Kendine güven ve istek de başarıyı getirir”
                </p>
            </div>
        </div>
    </div>
   
    
</body>
</html>


